body {
	background-image: url('http://i271.photobucket.com/albums/jj125/veritas771/backgrounds/black_background_15.png');
	background-size: 2290px;
	}
	#yellow-menu {
width:600px;
height:40px;
margin-top:16px;
background:#373737;
background-image:linear-gradient(to bottom, #373737, #242424);
border-bottom:2px solid #f1cc00;

box-shadow:0px 0px 4px #cccccc;
-moz-box-shadow:0px 0px 4px #cccccc;
-webkit-box-shadow:0px 0px 4px #cccccc;
-o-box-shadow:0px 0px 4px #cccccc;

font: 14px 'Nunito' , sans-serif;
}

#yellow-menu a {
width:auto;
height:40px;
display:inline-block;
background:transparent;
overflow:hidden;
float:left;
text-decoration:none;
color:#ffffff;
}

#yellow-menu h5 {
margin:0px;
height:40px;
line-height:40px;
text-align:center;
background:#373737;
background-image:linear-gradient(to bottom, #373737, #242424);

transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
-webkit-transition:all 0.2s linear;
-o-transition:all 0.2s linear;
}

#yellow-menu a:hover h5 {
margin-top:-40px;
}

#yellow-menu div {
width:auto;
height:28px;
display:block;
background:#f1cc00;
overflow:hidden;
padding-right:4px;
padding-left:4px;
padding-top:12px;
color:#ffffff;
cursor:pointer;

transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
-webkit-transition:all 0.2s linear;
-o-transition:all 0.2s linear;
}

#yellow-menu a:hover div {
opacity:1;
}
#container {
	width:960px;
	margin: 0px auto;
}

#left-column {
	width: 700px;
	float: left;
	background: blue;
}
#right-column {
	width: 260px;
	float: left;
	background: orange;
}
@media screen and(max-width:959px) {
	#container{
		width: 100%;
	}
	#left-column {
		width: 70%;
	}
	#right-column {
		width: 30%;
	}
.google {
	width: 100px;
}