body{
	background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT1jXyGZ1TjV6TNrzHxynq5WyCoXp94r0SfIFhMyG5OROWbrtiN');
}
.gallery{
	text-align: center;
}
body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
